.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: linear-gradient(#00000080, #0009), 
  url('https://images.unsplash.com/photo-1687894986595-da703eb96375?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8c2NpZW5jZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D');
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover; */
}

.login-box {
  background-color: var(--background-color);
  border-top: 0.3rem solid #433878;
  padding: 4rem 1.5rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  width: 350px;
  text-align: center;
}

.login-logo {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

.login-box h2 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
}

.input-box {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 0.4rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-box input {
  flex: 1;
  border: none !important;
  background: none;
  padding-left: 0.5rem;
  font-size: 16px;
}

.input-box input:focus {
  outline: none;
}

.input-box input:focus {
  outline: none !important;
}

.input-box svg {
  margin-right: 0.5rem;
}

.input-group {
  text-align: left;
  margin-bottom: 1rem;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.input-group input:focus {
  border-color: #6e8efb;
  box-shadow: 0 0 8px rgba(110, 142, 251, 0.2);
}

.error-message {
  color: #ff6b6b;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #6e8efb;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.login-button:hover {
  background-color: #5774db;
  box-shadow: 0 4px 15px rgba(110, 142, 251, 0.4);
}

.login-footer {
  margin-top: 1rem;
}

.forgot-password,
.register-link {
  display: block;
  margin: 0.5rem 0;
  color: #6e8efb;
  text-decoration: none;
  font-size: 0.875rem;
  transition: color 0.3s;
}

.forgot-password:hover,
.register-link:hover {
  color: #5774db;
}
