.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 35px;
  background-color: #313866;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-actions button {
  margin-left: 10px; /* Butonlar arasında boşluk */
}
